body{
    margin:0px;
    width:100%;
    height: 100%;
    padding-top: 111px;
}

/*Home Navigation bar*/
.homenav{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    width:100%;
    margin:-0.5rem 0.5rem;
    position:fixed;
    top:0;

}
.homenav-title{
    font-size: 2.063rem;
    margin:0.625rem;
    padding: 0.625rem;
}
.homenav-item{
    display: inline-block;
    margin:1.25rem;
    padding: 0.625rem;
}
.homenav-link{
    text-decoration: none;
    color:black;
}
.homenav-selected{
    text-underline-offset: 0.625rem;
    text-decoration-style: solid;
    text-decoration: underline 5px #DB7A4E;

}
.homenav-logolink{
    text-decoration: none;
    color: #335576;
}

/*Main Section*/
.hero{
    display: flex;
    background-color: #FEFAF5;
    margin:-0.5rem;
}
.hero-left{
    margin: 1.25rem;
    padding:1.25rem;
    width:50%;
    height: 35vh;
}
.hero-right{
    margin: 1.25rem;
    padding:1.25rem;
    width:50%;
    height: 35vh;
}
.hero-title{
    color:#335576;
    text-align: left;
}
.hero-p{
    color:#335576;
    text-align: left;

}
.hero-img{
    height: 30vh;
}
.hero-box{
    background-color: #DB7A4E;
    border-radius: 25% / 100%;
    border: none;
    padding: 0.625rem 1.25rem;
}
.hero-link{
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
}
.hero-button{
    text-align: left;
}


/*RecommandationSection*/
.rec{
    display: flex;
    justify-content: center;
}
.rec-Hawaii{
    width:12.5rem;
    height:18.75rem;
    background-image: url('../Assets/Images/hawaii.jpg');
    background-size: cover;
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.313;
    box-shadow: 0px 0.25rem 0.25rem -0.063rem rgba(0, 0, 0, 0.5);
    margin:1.25rem;
}
.rec-Iceland {
    width: 12.5rem;
    height: 18.75rem;
    border: 1px solid black;
    background-image: url('../Assets/Images/iceland.jpg');
    background-size: cover;
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.313;
    box-shadow: 0px 0.25rem 0.25rem -0.063rem rgba(0, 0, 0, 0.5);
     margin: 1.25rem;
}
.rec-Greece {
    width: 12.5rem;
    height: 18.75rem;
    border: 1px solid black;
    background-image: url('../Assets/Images/greece.jpg');
    background-size: cover;border: 1px solid rgba(0, 0, 0, 0.2);
    background-size: cover;
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.313;
    box-shadow: 0px 0.25rem 0.25rem -0.063rem rgba(0, 0, 0, 0.5);
    margin: 1.25rem;
}
.rec-p{
    position:relative;
    text-align: right;
    top:250px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px;
}
.rec-title{
    color:#335576;
    padding:20px;
    margin:20px;
    text-align: left;
}
.rec-link{
    text-decoration: none;
}


/*footer*/
.footer{
    display:flex;
    background-color: #FEFAF5;
    justify-content: space-around;

}
.footer-title{
    color:#335576;
    text-align: center;
}
.footer-subtitle{
    color:#DB7A4E;
    text-align:center;
}
.footer-hours{
    width:60%;
    text-align: center;
    align-items: center;
}
.footer-contact {
    text-align: center;
}
.footer-timetable {
    display: flex;
    justify-content: space-around;
}
.footer-email{
    display: flex;
    flex-direction: column;
}
.footer-content{
    color:#335576;
}
.footer-left{
    width:30%;
    display: inline-block;
    margin:5px;
}
.footer-mid{
    width:30%;
    display: inline-block;
    margin:5px;
}
.footer-right{
    width:30%;
    display: inline-block;
    margin:5px;
}
.footer-row{
    float:left;
    width:100%;
}

.footer-img{
    width: 20px;
    height: 25px;
}
.footer-imgcontainer{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer-social{
    width:20%;
}
.footer-content{
    color:#335576;
}