body {
    margin: 0px;
    width: 100%;
    height: 100%;
}


/*Home Navigation bar*/
.homenav {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: -8px -8px;

}

.homenav-title {
    font-size: 2.063rem;
    margin: 0.625rem;
    padding: 0.625rem;
}

.homenav-item {
    display: inline-block;
    margin: 1.25rem;
    padding: 0.625rem;
}

.homenav-link {
    text-decoration: none;
    color: black;
}

.homenav-selected {
    text-underline-offset: 0.625rem;
    text-decoration-style: solid;
    text-decoration: underline 5px #DB7A4E;

}

.homenav-logolink {
    text-decoration: none;
    color: #335576;
}

/*Activity Section*/
.activity {
    background-image: url('../Assets/Images/iceland.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 70vh;

}

.activity-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.activity-subtitle {
    text-align: center;
    border-bottom: 5px solid black;
}

.activity-p {
    background-color: #FEFAF5;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.activity-card {
    width: 250px;
    height: 400px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.5);
    margin: 20px;

}



.activity-title {
    color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    text-align: left;
    width: 100%;
}


/*footer*/
.footer {
    display: flex;
    background-color: #FEFAF5;
    justify-content: space-around;

}

.footer-title {
    color: #335576;
    text-align: center;
}

.footer-subtitle {
    color: #DB7A4E;
    text-align: center;
}

.footer-hours {
    width: 60%;
    text-align: center;
    align-items: center;
}

.footer-contact {
    text-align: center;
}

.footer-timetable {
    display: flex;
    justify-content: space-around;
}

.footer-email {
    display: flex;
    flex-direction: column;
}

.footer-content {
    color: #335576;
}

.footer-left {
    width: 30%;
    display: inline-block;
    margin: 5px;
}

.footer-mid {
    width: 30%;
    display: inline-block;
    margin: 5px;
}

.footer-right {
    width: 30%;
    display: inline-block;
    margin: 5px;
}

.footer-row {
    float: left;
    width: 100%;
}

.footer-img {
    width: 20px;
    height: 25px;
}

.footer-imgcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer-social {
    width: 20%;
}

.footer-content {
    color: #335576;
}